body {position: relative; background-color: #FFFDFE;}
/* body > * {height: 100vh;} */
/* swiper */
main .slide_main_bnr {
}
main .slide_main_bnr .swiper-wrapper {}
main .slide_main_bnr .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;
}
main .slide_main_bnr .swiper-wrapper .swiper-slide img {
    /* 부모 요소보다 크지 않도록 */
    /* max-width: 100%; 
    max-height: 100%;
    object-fit: cover; */
}
/* E- swiper */
/* ============================================================2.new */
main .container {
    padding: 90px 0;
}
main .container_new {}
main .container .contents {
    max-width: 1600px; margin: 0 auto;
    display: flex; flex-flow: column nowrap; 
    overflow: hidden;
}
main .container .contents .title_wrap {display: flex; flex-flow: row nowrap; justify-content: space-between;}
main .container .contents  h2 {
    font-size: 1.38rem; letter-spacing: -0.02rem; font-weight: 500;
}
/* 더보기 버튼 */
main .container .contents .plus_btn {
    background-color: #fff;
    display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;
    padding: 7px 13px; border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.6);
}
main .container .contents .plus_btn span {
    font-size: 0.94rem; letter-spacing: -0.02rem;
}
main .container .contents .plus_btn .plus {}
/* ★★★★★★★★★★★★★★★★★★★★★★★★★ swiper */
main .container .contents .items_wrap { 
    margin: 25px 0 30px;
    /* overflow: hidden; */ 
    padding-bottom: 40px;
}
main .container .contents .items_wrap .swiper-wrapper {
    /* felx가 기본으로 되어어있음 */
    
}
/* item 공통 */
main .container .contents .items_wrap .swiper-wrapper .swiper-slide {
    /* swiper에서 자동으로 계산되는 것을 막기위해! */
    width: auto !important; 
    height: auto;
    /* 마진은 javascript에서 설정하기 */
    /* margin-right: 20px; */
    padding-left: 20px;
}
/* 사진 */
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_img {
    margin-bottom: 7px;
    width: 315px; height: 425px;
}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_img a {}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_img a img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    /* object-fit: cover;  */
    /* 비율을 유지하면서 영역을 꽉 채움 */
}
/* 설명 */
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info {}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info .info_details {margin-bottom: 22px;}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info .info_details .title {display: block;
    font-size: 0.94rem; letter-spacing: -0.02rem; line-height: 1.2;}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info .info_details .price {
    margin: 8px 0;
    font-size: 1.13rem; letter-spacing: -0.02rem; font-weight: 600;
}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info .info_details .color {}
/* 태그 */
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info .tag_info {
    display: flex; flex-flow: row nowrap; justify-content: flex-start; 
}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info .tag_info span {
    margin-left: 5px; padding: 4px 6px; color: #fff; border-radius: 7px;
    background-color: #FF7D9E; font-size: 0.75rem;
}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info .tag_info span:first-child {margin-left: 0;}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info .tag_info .new_tag {}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info .tag_info .today_delivery_tag {
    background-color: #777;
}
main .container .contents .items_wrap .swiper-wrapper .swiper-slide .item_info .tag_info .self_made_tag {}
/* 버튼 */
main .container .contents .items_wrap .swiper-button-next::after, 
main .container .contents .items_wrap .swiper-button-prev::after {
    color: #222; 
    font-size: 20px;
} 
main .container .contents .items_wrap .swiper-button-next, 
main .container .contents .items_wrap .swiper-button-prev {
    background-color: rgba(255,255,255,0.7);
    width: 50px;
    border-radius: 50%;
    top: 230px;
}
main .container .contents .items_wrap .swiper-button-next { 
}
main .container .contents .items_wrap .swiper-button-prev {
}
/* 스크롤바 */
main .container .contents .items_wrap .swiper-scrollbar {
    height: 2px;
    background-color: #D9D9D9;
}
/* =========================================2-2 배너 */
main .bnr1 {
    padding: 90px 0;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .bnr1 img {}
/* ============================================== 3. 오늘출발상품 */
main .container_today {}
main .container_today .contents {}
main .container_today .contents .title_wrap {}
main .container_today .contents .title_wrap .delivery_title {
    display: flex; flex-flow: row nowrap; align-items: center;
}
main .container_today .contents .title_wrap .delivery_title h2 {
    margin-right: 71px;
}
main .container_today .contents .title_wrap .delivery_title h2 a {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
}
main .container_today .contents .title_wrap .delivery_title h2 a span {
    background: url(../images/bus.png);
    width: 25px; height: 25px; display: block;
    margin-right: 10px;
}
main .container_today .contents .title_wrap .delivery_title h2 a em {
    font-weight: 700;
    margin-right: 7px;
}
main .container_today .contents .title_wrap .delivery_title .today {
    background-color: #000000; border-radius: 15px;
    padding: 8px 12px;
    display: flex; flex-flow: row nowrap; align-items: center;
}
main .container_today .contents .title_wrap .delivery_title .today span {}
main .container_today .contents .title_wrap .delivery_title .today .current_time {
    font-size: 1.06rem; letter-spacing: -0.02rem; font-weight: 600;
    color: #FF7D9E;
    margin-right: 6px;
}
main .container_today .contents .title_wrap .delivery_title .today .clock {}
main .container_today .contents .title_wrap .delivery_title .today .clock img {}
/* ====================================================== best */
main .container_best {
    padding: 100px 0;
    background-color: #f9f9f9;
}
main .container_best .contents {
    display: flex; flex-flow: column nowrap; justify-content: space-between;
}
main .container_best .contents > * {margin-bottom: 25px;}
main .container_best .contents h2 {}
main .container_best .contents .category_best {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center;
}
main .container_best .contents .category_best .left {
    display: flex; flex-flow: row nowrap;
}
main .container_best .contents .category_best .left a {
    margin-left: 25px; padding-bottom: 5px;
    letter-spacing: -0.02rem; font-weight: 500;
}
main .container_best .contents .category_best .left a:hover {
    border-bottom: 1.7px solid #FF7D9E;
}
main .container_best .contents .category_best .left a:first-child {margin-left: 0;}
main .container_best .contents .category_best .plus_btn {}
main .container_best .contents .category_best .plus_btn span {}
main .container_best .contents .category_best .plus_btn .plus {}
/* contents */
main .container_best .contents .best_contents {margin-bottom: 0;}
main .container_best .contents .best_contents {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .container_best .contents .best_contents .bg_img {}
main .container_best .contents .best_contents .bg_img img {
    border-radius: 5px;
}
/* items */
main .container_best .contents .best_contents .items_best_wrap {
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    margin-left: 110px;
}
main .container_best .contents .best_contents .items_best_wrap .top_items {
}
/* 공통 item */
main .container_best .contents .best_contents .items_best_wrap .top_items, 
main .container_best .contents .best_contents .items_best_wrap .bottom_items {
    display: flex; flex-flow: row nowrap;
}
main .container_best .contents .best_contents .items_best_wrap .item_b {
    width: 276px; height: 344px;
    margin-right: 20px;
    position: relative;
    font-size: 0.88rem; letter-spacing: -0.02rem; font-weight: 500;
}
main .container_best .contents .best_contents .items_best_wrap .item_b:last-child {margin-right: 0;}
main .container_best .contents .best_contents .items_best_wrap .item_b .number_b {
    background-color: rgba(255,255,255,0.6);
    padding: 5px 8px; border-radius: 5px;
    display: inline-block;
    font-weight: 500;
}
main .container_best .contents .best_contents .items_best_wrap .item_b .info_b {
    display: block; background-color: #fff; display: flex; align-items: center; justify-content: space-between;
    width: 100%; height: 45px; padding: 0 5px 0 10px;
    position: absolute; bottom: 0; left: 0;
    font-size: 0.88rem; letter-spacing: -0.02rem; font-weight: 500
}
main .container_best .contents .best_contents .items_best_wrap .item_b .info_b img {}
/* 개별 */
main .container_best .contents .best_contents .items_best_wrap .top_items .item_b {
    margin-bottom: 30px;
    background: url(../images/best1.jpg);
    background-size: 100%;
    transition: background-size 0.4s;
}
main .container_best .contents .best_contents .items_best_wrap .top_items .item_b:hover {
    background-size: 102%;
}
main .container_best .contents .best_contents .items_best_wrap .top_items .item_b:nth-child(2) {
    
}
main .container_best .contents .best_contents .items_best_wrap .top_items .item_b:nth-child(3) {
    background: url(../images/best3.jpg);
}
main .container_best .contents .best_contents .items_best_wrap .bottom_items .item_b {
    background: url(../images/best4.jpg);
    background-size: 100%;
    transition: background-size 0.4s;
}
main .container_best .contents .best_contents .items_best_wrap .bottom_items .item_b:hover {
    background-size: 102%;
}
main .container_best .contents .best_contents .items_best_wrap .bottom_items .item_b:nth-child(2) {
    background: url(../images/best5.jpg);
}
main .container_best .contents .best_contents .items_best_wrap .bottom_items .item_b:nth-child(3) {
}
/* =================================================== 5. 소나 픽 */
main .container_pick {}
main .container_pick .contents {
    flex-flow: row nowrap; align-items: flex-start;
    overflow: hidden;
}
main .container_pick .contents .left_pick_wrap {
    flex: 1;
    min-width: 250px;
    /* transform: translateX(-20%);  */
    /* 왼쪽으로 20% 밀기 */
    margin-right: 50px;
}
main .container_pick .contents .left_pick_wrap h2 {}
main .container_pick .contents .left_pick_wrap p {
    margin: 7px 0 40px;
    font-size: 1.06rem; letter-spacing: -0.02rem; font-weight: 300;
    color: #444;
}
main .container_pick .contents .left_pick_wrap .tags {
    width: 100%;
}
main .container_pick .contents .left_pick_wrap .tags a {
    display: inline-block;
    padding: 10px 15px; border-radius: 15px; 
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    margin-right: 13px; margin-bottom: 13px;
    letter-spacing: -0.02rem; font-weight: 500;
    color: rgba(0,0,0,0.5);
}
main .container_pick .contents .left_pick_wrap .tags a:hover {
    background-color: #FF7D9E; color: #fff;
    font-weight: 700; border: 1px solid transparent;
}
main .container_pick .contents .right_pick_wrap {}
main .container_pick .contents .right_pick_wrap .items_wrap {
    margin-top: 0;
}
/* ======================================6. lookbook */
main .coontainer_lookbook {}
main .coontainer_lookbook .contents {
    flex-flow: column nowrap; align-items: center;
}
main .coontainer_lookbook .contents h2 {}
main .coontainer_lookbook .contents h2+p {
    letter-spacing: -0.02rem; font-weight: 500;
    color: rgba(0,0,0,0.5);
    margin: 7px 0 60px;

}
main .coontainer_lookbook .contents .lookbook_contents {
    display: flex; flex-flow: row nowrap; justify-content: center;
}
main .coontainer_lookbook .contents .lookbook_contents .lb_items {
    width: 312px; height: 407px;
    overflow: hidden;
}
main .coontainer_lookbook .contents .lookbook_contents .lb_items img {
    transition: transform 0.2s linear; 
    width: 100%; height: 100%; border-radius: 6px;
}
main .coontainer_lookbook .contents .lookbook_contents .lb_items:hover img {
    transform: scale(1.03);
}
/* 개별 */
main .coontainer_lookbook .contents .lookbook_contents .lb_item1 {
}
main .coontainer_lookbook .contents .lookbook_contents .lb_item2 {
    transform: rotate(2.82deg);
}
main .coontainer_lookbook .contents .lookbook_contents .lb_item3 {
    transform: rotate(-3.68deg);
}
main .coontainer_lookbook .contents .lookbook_contents .lb_item4 {
    transform: rotate(3.09deg);
}
main .coontainer_lookbook .contents .lookbook_contents .lb_item5 {
}
/* ==================================7.review */
main .container_review {}
main .container_review .contents {
    display: flex; flex-flow: row wrap; justify-content: space-between;
}
main .container_review .contents .review_box {
    width: 304px; height: 374px;
    background-color: #000000;
    position: relative;
    margin: 0 20px 20px 0;
}
main .container_review .contents .review_box:hover::after {
    background: rgba(0,0,0,0.6);
}
main .container_review .contents .review_box:nth-child(5),
main .container_review .contents .review_box:nth-child(10)
{margin-right:0}
main .container_review .contents .review_box p {
    text-align: center; line-height: 374px;
    color: #fff; 
    font-size: 1.63rem; letter-spacing: -0.02rem; font-weight: 500;
    z-index: 999; position: relative;
}
main .container_review .contents .review_box::after {
    display: block; content: ''; width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    background-color: rgba(0,0,0,0.2);
}
main .container_review .contents .review_box img {}
/*============================================== footer */
footer {
    background-color: #FFF3F6;
    padding: 50px;
}
footer .top_footer {
    max-width: 1600px; margin: 0 auto;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
footer .top_footer .service_info {
}
footer .top_footer .service_info li {
    margin-bottom: 30px;
}
footer .top_footer .service_info li a {
    font-size: 1.13rem; letter-spacing: -0.02rem; font-weight: 600;
}
footer .top_footer .service_info li:last-child {
    margin-bottom: 0;
}
footer .top_footer .customer_service {
}
footer .top_footer .customer_service p {}
footer .top_footer .customer_service .title {
    font-size: 1.13rem; letter-spacing: -0.02rem; font-weight: 600;
}
footer .top_footer .customer_service .num {
    font-size: 1.5rem; letter-spacing: -0.02rem; font-weight: 600;
    margin: 10px 0;
}
footer .top_footer .customer_service .sublist {

}
footer .top_footer .customer_service .sublist span {
    display: block; margin-bottom: 2px;
    font-size: 0.75rem; letter-spacing: -0.02rem; font-weight: 500; color: #909090;
}
footer .top_footer .customer_service .sublist span:first-child {
    font-size: 0.88rem; letter-spacing: -0.02rem;
    color: #222;
}
footer .top_footer .bank_account {}
footer .top_footer .bank_account .title {
    font-size: 1.13rem; letter-spacing: -0.02rem; font-weight: 600;
}
footer .top_footer .bank_account .bank_info {
    margin: 10px 0;
}
footer .top_footer .bank_account .bank_info span {
    display: block;
    font-size: 0.88rem; letter-spacing: -0.02rem;
}
footer .top_footer .bank_account .bank {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
}
footer .top_footer .bank_account .bank p {
    margin-right: 20px; font-size: 0.88rem; letter-spacing: -0.02rem;
}
footer .top_footer .bank_account .bank a {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    border-radius: 6px; padding: 8px 5px;
    border: 1px solid #909090;
    font-size: 0.88rem; letter-spacing: -0.02rem;
}
footer .top_footer .bank_account .bank a img {
    width: 12px; margin-left: 10px;
} 
footer .top_footer .return_wrap {}
footer .top_footer .return_wrap > * {
    margin-bottom: 13px;
}
footer .top_footer .return_wrap p {}
footer .top_footer .return_wrap .title {
    font-size: 1.13rem; letter-spacing: -0.02rem; font-weight: 600;
}
footer .top_footer .return_wrap .subtitle {
}
footer .top_footer .return_wrap .subtitle span {
    display: block;
    font-size: 0.88rem; letter-spacing: -0.02rem;
    margin-bottom: 8px;
}
footer .top_footer .return_wrap .subtitle span:last-child {
    margin-bottom: 0;
}
footer .top_footer .return_wrap .subtitle .sub {
    font-size: 0.94rem; letter-spacing: -0.02rem; font-weight: 500;
}
footer .top_footer .return_wrap .explain {
    color: #909090;
    font-size: 0.75rem; letter-spacing: -0.02rem; font-weight: 500; line-height: 1.4;
}
footer .top_footer .return_wrap .shortcut {
    margin-bottom: 0;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
footer .top_footer .return_wrap .shortcut a {
    margin-right: 20px; padding: 8px 7px;
    border-radius: 6px;
    border: 1px solid #909090;
    font-size: 0.88rem; letter-spacing: -0.02rem;
    display: flex; align-items: center;

}
footer .top_footer .return_wrap .shortcut a:last-child {
    margin-right: 0;
}
footer .top_footer .return_wrap .shortcut a img {
    margin-left: 10px;
}
/* 아래 */
footer .bottom_footer {
    padding-top: 20px;
    width: 100%;
    border-top: 1px solid #dadada;
}
footer .bottom_footer .list {
    display: flex; align-items: center;
    margin-bottom: 20px;
}
footer .bottom_footer .list > * {margin-right: 10px;}
footer .bottom_footer .list a {
    font-size: 0.94rem; letter-spacing: -0.02rem; font-weight: 500;
}
footer .bottom_footer .list img {}
footer .bottom_footer .bottom_list {}
footer .bottom_footer .bottom_list .b_top {
    margin-bottom: 20px;
}
footer .bottom_footer .bottom_list .b_top span {
    font-size: 0.75rem; letter-spacing: -0.02rem;
    font-weight: 500; color: #909090;
}
footer .bottom_footer .bottom_list .b_top > span {
    display: block; margin-bottom: 10px;
}
footer .bottom_footer .bottom_list .b_top .owner {}
footer .bottom_footer .bottom_list .b_top .owner span {}
footer .bottom_footer .bottom_list .b_top > span a {}
footer .bottom_footer .bottom_list .b_bottom {}
footer .bottom_footer .bottom_list .b_bottom p {
    font-size: 0.75rem; letter-spacing: -0.02rem;
    font-weight: 500; color: #909090;
}
footer .bottom_footer .bottom_list .b_bottom p:first-child {margin-bottom: 5px;}